* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  color: black;
  background-color: white;
}

nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
}

nav ul{
  list-style: none;
  display: flex;
  gap: 20px ;
}

main {
  padding: 1rem;
}
main {
text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
}
.fonte-bar {
width: 100%;
height: 60px;
display:flex;
background-color: #dddddd;
justify-content: center;
align-items: center;
}
table
{
  width: 80%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center ;
}

td,th{
  padding: 20px;
  font-size: 18px;
}

button {
background-color: rgb(24, 24, 163);
color: #ffffff;
font-size: 18px;
padding: 10px 30px;
border-radius: 18px;
}

#main-planos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#servicos {
 display: flex;
 width: 100%; 
 justify-content: center;

}

#servicos figure {
  max-width: 400px;
  text-align: center;
}
#servicos figure img{
  display: block; 
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
background-color: #dddddd;

}
#social img{

width: 40px;
}

form label {
  font-weight: bold;
  text-align: center;
}
form input {
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
  height: 45px;
}

textarea{
  width: 100%;
  height: 90px;
}
#form-contato {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}
#form-contato form {
  width: 60%;
}